registry=https://registry.npmjs.org/
@robot-trainer:registry=https://npm.pkg.github.com/

# Set this in your shell/environment when installing private GitHub Packages.
# Example: export NODE_AUTH_TOKEN=ghp_xxx
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
